body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

header {
  background: #6200ea;
  color: white;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background: #03dac6;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
main {
  margin: 20px;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #ff5252;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
li {
  transition: all 0.3s ease;
}
li.done span {
  color: gray;
  text-decoration: line-through;
}
